.movies-container {
  padding: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filters input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  max-width: 100%;
}

.filters button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filters button:hover {
  background-color: #45a049;
}

.skeleton-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.skeleton-item {
  height: 400px;
  box-sizing: border-box;
  padding: 20px;
  background: #2c2c2c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: skeleton-fade 1.5s infinite ease-in-out;
}

@keyframes skeleton-fade {
  0% {
    background-color: #2c2c2c;
  }
  50% {
    background-color: #444;
  }
  100% {
    background-color: #2c2c2c;
  }
}

.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.movie-item {
  box-sizing: border-box;
  padding: 10px;
  background: transparent;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-top: 30px;
}

.movie-item:hover {
  transform: translateY(-5px);
}

.movie-item img {
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: 10px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.movie-item h2 {
  font-size: 18px;
  margin: 10px 0;
  color: white;
}

.movie-item p {
  font-size: 16px;
  color: #b0aeae;
}

@media (max-width: 1200px) {
  .skeleton-container,
  .results-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 768px) {
  .skeleton-container,
  .results-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) {
  .filters {
    flex-direction: column;
    align-items: stretch;
  }

  .filters input {
    margin-bottom: 10px;
    width: 95%;
    margin: auto; 
  }

  .filters button {
    width: 100%; 
  }

  .skeleton-container,
  .results-container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}
