.movie-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.movie-details {
  padding: 20px;
  border-radius: 8px;
  max-width: 85%;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  position: relative;
  background: #04152d;
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  opacity: 1;
  gap: 10px;
  /* justify-content: center; */
  /* align-items: center; */
}

.movie-details .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.movie-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.movie-details .details {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #a79e9e;
  margin-bottom: 20px;
}

.movie-details .details h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #8c8a8a;
}

.movie-details .details p {
  margin-bottom: 5px;
  font-size: 14px;
}

.movie-details .details p strong {
  color: #d7cfcf;
  font-size: 16px;
  text-shadow: none;
}

.movie-details .details .rating-circle {
  display: inline-block;
  padding: 8px 12px;
  margin: 5px 5px 5px 0;
  border: 2px solid #1a73e8;
  border-radius: 50%;
  background-color: #eaf1ff;
  color: #1a73e8;
  font-weight: bold;
  font-size: 14px;
}

.movie-details .details .imdb-button {
  align-self: flex-start;
  background-color: #1a73e8;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
}

.movie-details .details .imdb-button:hover {
  background-color: #0e5a9c;
  transform: scale(1.05);
}

.movie-details .loading,
.movie-details .error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.movie-details .error {
  background-color: #e74c3c;
}
@media (min-width: 768px) {
  .movie-details {
    flex-direction: row;
  }
}
